Source: ros-indigo-strands-bringup
Section: misc
Priority: extra
Maintainer: Jaime Pulido Fentanes <pulidofentanes@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-strands-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-flir-pantilt-d46, ros-indigo-openni2-launch, ros-indigo-scitos-2d-navigation, ros-indigo-scitos-apps, ros-indigo-scitos-bringup, ros-indigo-scitos-common, ros-indigo-scitos-description, ros-indigo-scitos-drivers, ros-indigo-scitos-mira, ros-indigo-sicks300, ros-indigo-strands-apps, ros-indigo-strands-hri, ros-indigo-strands-navigation, ros-indigo-strands-ui
Description: The strands_bringup package
